---
layout: default
---

<div>
  <a id="back" onclick="history.back()"> back</a>
</div>

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>
<p class="view">by {{ page.author | default: site.author }}</p>

{% for tag in page.tags %}
  <a href="{{ site.baseurl }}/tags.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}

{{content}}

{% if page.tags %} 
<div class="tags-list mb--2">
  {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tags.html#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
  {% endfor %}
</div>
{% endif %}


<div class="blog-nav">
  <div class="blog-nav-row">{% if page.previous %}
      <a class="prev-link" href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %}
    {% if page.next %}
      <a class="next-link" href="{{page.next.url}}">{{page.next.title}}</a>
    {% endif %}</div>
</div>

<div id="img-modal" class="">
  <img id="img-modal__img" />
</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
    const closeModal = (e) => {
      document.getElementById("img-modal").classList.remove("open")
      e.stopPropagation();
    }

    document.getElementById("img-modal").onclick = closeModal

    document.getElementById("img-modal__img").onclick = closeModal

    const imgs = document.querySelectorAll("img")
    imgs.forEach((img) => {
      img.onclick = (e) => {
        document.getElementById("img-modal__img").src = e.target.src
        document.getElementById("img-modal").classList.add("open")
      }
    })
	});
</script>